[Unitt]
Description = daemon for the volume web ui
After = systemd-user-sessions.service

[Service]
User = {{ user }}
Group = {{ user }}
Type = simple
ExecStart = {{ prefix }}/bin/vol_webui_d.py --host {{ host }} --mixer {{ mixer }} --card {{ card }}
Restart = on-failure
RestartSec = 15

[Install]
WantedBy = multi-user.target
