<html>
 <head>
   <meta charset="utf-8"/>
   <style>{{ style_css }}</style>
  </head>
  <body>
    <div class="center-div" id="vol-widget">
      <div class="container space-around" id="toprow">
        <button type="button">{{ icon_svg }}</button>
        <div id="current-vol"></div>
      </div>
      <input type="range" min="0" max="100">
    </div>
    <script>{{ main_js }}</script>
  </body>
</html>
